
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1130px;
  }
}
.d-flex {
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}

.flex-column{
    flex-direction: column;
}
.profile {
    margin-right: 1.4rem;
}
.search-icons{
    margin-left: 1.4rem;
}
.flex-wrap{
    flex-flow: wrap;
}
.cursor{
    cursor: pointer;
}
.search-input{
    border:none;
    background: transparent;
    width: 80%;
    
}